/* bookshelf classes css*/

.bookshelf {
  margin: 0; border: 0; padding: 0;
    /* The following fixes a gap above
    ** the books grid ???? !!!
    */
  border-top: 1px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 2px solid #663333;
  border-left: 100px solid transparent;
}

.bookshelf-books {
  margin: 0; border: 0; padding: 0;
}
  /* This should be an <h2> element */

.bookshelf-title {
    margin: 0; border: 0; padding: 0;
}

.books-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0; border: 0; padding: 0;
}
.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  width: 140px;
}

.book-top {
  display: flex;
  align-items: flex-end;
  position: relative;
  height: 200px;
}

.book-cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #eeeeee;
  width: 128px;
  height: 193px ;
}

/********************************************/
/* These book-shelf-changer styles may
/*   move to another css file
/********************************************/
/*
.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #66aa66;
  background-image: url('../../icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.book-shelf-changer select {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  left: 0px;
  opacity: 0;
  cursor: pointer;
}
*/
.book-title, .book-authors {
  font-size: 0.8em;
}
.book-title {
  margin: 10px 0 0 0;
}
.book-authors {
  color: #333333;
}

/********************************************
/* book cover
/*  >>> This doesn't appear to be used anywhere

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

*******************************************/
